# Dependências de desenvolvimento e testes
pytest==7.4.0
setuptools
pytest-cov==4.1.0
pytest-html==3.2.0
pandas==2.0.3
openpyxl==3.1.2
matplotlib==3.7.2
seaborn==0.12.2
numpy>=1.24.4
# Lint de notebooks
nbqa>=1.7.0
flake8>=6.0.0
pylint>=3.0.0
streamlit==1.30.0
plotly==5.15.0
